body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    position: relative;
}

#chat_container {
    width: calc(100% - 20px);
    padding: 10px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: transparent;
    color: white;
    font-weight: 800;
    word-break: break-word;
}

.user_info {
    display: inline-block;
}

.badge {
    vertical-align: middle;
    border-radius: 10%;
}

.cheer_bits {
    font-size: 0.6em;
    -webkit-text-stroke: 1px black;
}

.emote {
    vertical-align: middle;
}
.emote-container {
    display: inline-block;
}

.emoji {
    vertical-align: middle;
}

.hidden {
    display: none;
}

.zerowidth {
    /*margin-left: -100%;*/
}


.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
